


body { 
    background-color: black;
    /* font-family: "Helvetica", Verdana;
	min-height: 100vh;
    background-image: url("../images/slate2.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll; */
}
#carousel{
    z-index: -1;
    
}

#jumbotron {
    background: none
}

.search-input {
    border-radius: 0 !important;
   /* align-content: center; */
   width: 200px; 
   font-family: "Helvetica";
   z-index: 1;
}

.btn-primary {
    color: white;
    background-color: white;
    z-index: 1;
}

#button-input {
    font-family: 'Open Sans Condensed', sans-serif;
    border: none;
    color: rgb(85, 84, 84);
    /* padding: 15px 25px; */
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 450px;
    z-index: 1;
    
}

h1 {
    color: white;
    /* text-align: center; */
    margin-top: 70px;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 20;
    text-align: center;
    color: white;
    font-size: 100px;
}

#headerOne {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 50px;
    z-index: 1;
   
}
.borderClimate {
   
        /* font-family: consolas; */
        
        border: white;
        border-style: solid;
        border-width: 5px;
        border-color: white;
        color: white;  
        z-index: 1; 
        margin-top: -300px;
        
}

#food-input {
    /* position: absolute; */
    left: 0px;
    top: 0px;
    background-color: black;
    text-align: center;
    align-content: center;
    margin-top: 175px
}

#drink-input {
    /* position: absolute; */
    left: 0px;
    top: 0px;
    background-color: black;
    text-align: center;
    align-content: center;
    margin-top: 175px;
}

.results{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
    color: white; 
    margin-top: 50px;
    padding-top: 20px;
    border: 5px solid white;
    border: white;
    border-style: solid;
    border-width: 5px;
    height: 90px;
    width: 450px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
   
}

#drink-name{
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 50px;
}

#drink-instructions{
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 20px;
}

.imgSize {

    width: 250px;
    height:  250px;
}

#food-name {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 50px;
}
 
 #food-instructions {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 20px;
 }