body {
    background-color: black;
}

#carousel {
    z-index: -1;
}

.search-input {
    border-radius: 0 !important;
    /* align-content: center; */
    width: 200px;
    font-family: "Helvetica";
    z-index: 2;
}

.btn-primary {
    color: white;
    background-color: white;
    z-index: 2;
}

/* search white box */

#button-input {
    font-family: 'Open Sans Condensed', sans-serif;
    border: none;
    color: rgb(85, 84, 84);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    /* position: relative;
    margin: auto; */
    width: 450px;
    z-index: 2;
    margin-top: 50px;
    margin: auto;
}

#submit {
    color: white;
    background-color: black;
}

#city {
    color: black;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 20;
    text-align: center;
    color: white;
    font-size: 25px;
    z-index: 2;
    margin-top: -80px;
    /* margin-left: 300px; */
    position: relative;
}



#headerOne {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 50px;
    z-index: 2;
    /* margin-top: -75px; */
    position: relative;
    /* margin-left: 200px; */
    color: white;
}

.borderClimate {
    border: white;
    z-index: 1;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    color: white;
    margin-top: -300px;
    position: relative;
    text-align: center;
    width: 59%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 17px;
    padding-bottom: 15px;
    /* width: 300px;
        height: */
}

#food-input {
    /* position: absolute; */
    left: 0px;
    top: 0px;
    background-color: black;
    text-align: center;
    align-content: center;
    margin-top: 30px
}

#drink-input {
    /* position: absolute; */
    left: 0px;
    top: 0px;
    background-color: black;
    text-align: center;
    align-content: center;
    margin-top: 30px;
}

.results {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 50px;
    padding-top: 20px;
    border: 5px solid white;
    border: white;
    border-style: solid;
    border-width: 5px;
    height: 90px;
    width: 450px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#drink-name {
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 50px;
}

#drink-instructions {
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
}

.imgSize {
    width: 250px;
    height: 250px;
}

#food-name {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 50px;
}

#food-instructions {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 20px;
}